[submodule "ThirdParty/entt"]
	path = ThirdParty/entt
	url = https://github.com/skypjack/entt.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/rpmalloc"]
	path = ThirdParty/rpmalloc
	url = https://github.com/mjansson/rpmalloc.git
[submodule "ThirdParty/DirectXShaderCompiler"]
	path = ThirdParty/DirectXShaderCompiler
	url = https://github.com/microsoft/DirectXShaderCompiler.git
[submodule "ThirdParty/SPIRV-Cross"]
	path = ThirdParty/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "ThirdParty/stb"]
	path = ThirdParty/stb
	url = https://github.com/nothings/stb
